# Normalisation des fins de ligne
* text=auto eol=lf

# Scripts d'environnement Windows
*.cmd text eol=crlf
*.bat text eol=crlf

# Script Maven Wrapper Unix
/mvnw text eol=lf

# Binaires
*.pdf binary
*.jar binary
*.png binary
*.jpg binary
